
@font-face {
    font-family: "Montserrat-Regular";

    src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat-Medium";

    src: url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat-SemiBold";

    src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat-Bold";

    src: url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #011C40;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

button {
    outline: none;
}

input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.title-section {
    text-align: center;
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}

/* header */

.header-wrapper {
    background-image: url(../img/bg-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-page .container {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 630px;
    font-family: "Montserrat-Medium";
    white-space: nowrap;
}

.main-menu__item {
    margin-right: 34px;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.main-menu__link {
    color: #F9FBFD;
    transition: color 0.3s ease;
}

.main-menu__link:hover {
    color: #0cadfd;
}

.promo {
    padding: 197px 0 257px 190px;
}

.promo__title {
    font-size: 54px;
    font-family: "Montserrat-Bold";
    color: #F9FBFD;
    margin-bottom: 13px;
    font-weight: 700;
}

.promo__slogan {
    font-size: 20px;
    color: #F9FBFD;
}


.checkbox {
    position:absolute;
    clip:rect(1px,1px,1px,1px);
    height:1px;
    width:1px;
}

.label-humb {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../svg/icon-humb.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.is-open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: flex;
    background-color: #F9FBFD;
    margin-bottom: 0;
    z-index: 500;
    padding: 92px 15px 60px 15px;
    align-items: flex-start;
}

.is-open .container {
    display: block;
    padding: 0;
    margin: 0;
}

.is-open .logo {
    position: absolute;
    top: 20px;
    left: 15px;
}

.is-open .label-humb {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    background-image: url(../svg/icon-close.svg);
    width: 13px;
    height: 13px;
}

.is-open .main-menu {
    display: flex;
    flex-direction: column;
}

.is-open .main-menu__item {
    margin-bottom: 30px;
    font-size: 18px;
}

.is-open .main-menu__link {
    color: #011C40;;
}

/* header end */

/* intro */

.intro .container {
    display: flex;
}

.intro__desc {
    flex: 1;
    margin-right: 88px;
    line-height: 1.5;
    padding-top: 56px;
}

.intro .title-section {
    margin-bottom: 25px;
    text-align: left;
}

.intro__thumb {
    width: 560px;
}

/* intro end */

/* features */

.features {
    background-image: url(../img/bg-features-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 113px;
}

.features .title-section {
    margin-bottom: 55px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list__item {
    width: 360px;
    background-color: #F9FBFD;
    padding: 30px 30px 34px 30px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}

.features-list__icon {
    background-repeat: no-repeat;
    background-size: cover;
}

.features-list__icon_desc {
    width: 27px;
    height: 32px;
    background-image: url(../svg/icon-feature-desc.svg);
    margin-bottom: 20px;
}

.features-list__icon_allinclusive {
    width: 38px;
    height: 21px;
    background-image: url(../svg/icon-feature-allinclusive.svg);
    margin-top: 3px;
    margin-bottom: 28px;
    margin-left: 1px;
}

.features-list__icon_zodiac {
    width: 42px;
    height: 15px;
    background-image: url(../svg/icon-feature-zodiac.svg);
    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 1px;
}

.features-list__title {
    font-size: 18px;
    font-family: "Montserrat-Medium";
    margin-bottom: 13px;
}

.features-list__desc {
    font-size: 14px;
    line-height: 1.4;
}

/* features end */

/* goods */

.goods {
    padding-top: 113px;
}

.goods .title-section {
    margin-bottom: 53px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
}

.goods-list__item {
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px 15px;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    color: #F9FBFD;
    padding: 75px 25px 35px 25px;
}


.goods-list__title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat-Medium";
    z-index: 5;
}

.goods-list__subtitle {
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat-Medium";
    margin-bottom: 8px;
}

.goods-list__text {
    color: #D8D8D9;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 7px;
}

.goods-list__link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    background-color: #F9FBFD;
    color: #011C40;
    margin-top: auto;
    transition: opacity 0.3s ease;
}

.goods-list__link:hover {
    opacity: 0.8;
}

.goods-list__preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.goods-list__preview-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.goods-list__item:hover .goods-list__preview {
    opacity: 0;
    z-index: -1;
}

.goods-list__item:hover .goods-list__title {
    bottom: calc(100% - 65px);
    left: 25px;
}

/* goods end */

/* order */

.order {
    padding: 50px 0;
    background-image: url(../img/bg-order-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container_order {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__desc {
    font-size: 18px;
    line-height: 1.5;
    flex: 1;
    margin-right: 140px;
}

.title-section_order {
    font-weight: bold;
    font-size: 40px;
    font-family: "Montserrat-Bold";
}

.order__form {
    width: 403px;
    padding: 50px;
    background-color: #011C40;
    color: #F9FBFD;
}

.order__field {
    display: block;
    margin-bottom: 20px;
}

.order__field_check {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-bottom: 30px;
}

.check {
    margin-right: 7px;
}

.input {
    width: 100%;
    padding: 16px;
    font-size: 14px;
}

.btn-submit {
    background-color: #F9FBFD;
    border: none;
    width: 100%;
    padding: 15px 0 17px 0;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.btn-submit:hover {
    opacity: 0.8;
}

/* order end */

/* contacts */

.contacts .container {
    display: flex;
    align-items: center;
}

.contacts__map {
    width: 560px;
    height: 300px;
    margin-right: 100px;
}

.contacts__info {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.contacts__location {
    padding-left: 30px;
    background-image: url(../svg/icon-geo.svg);
    background-repeat: no-repeat;
    background-size: 18px 22px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.contacts__phone {
    display: block;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 10px;
    background-image: url(../svg/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: 18px 16px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #011C40;
    transition: color 0.3s ease;
}

.contacts__phone:hover {
    color: #0cadfd;
}

/* contacts end */

/* footer */

.footer-page {
    padding: 50px 0;
    background-color: #011C40;
}

.footer-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    align-items: center;
    font-family: "Montserrat-Medium";
}

.logo_footer {
    margin-right: 40px;
}

.footer-menu__link {
    color: #F9FBFD;
    transition: color 0.3s ease;
}

.footer-menu__link:hover {
    color: #0cadfd;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 590px;
    white-space: nowrap;
}

.footer-menu__item {
    margin-right: 30px;
}

.footer-menu__item:last-child {
    margin-right: 0;
}

.social-list {
    display: flex;
}

.social-list__item {
    margin-right: 30px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s ease;
}

.social-list__link:hover {
    opacity: 0.8;
}

.social-list__link_facebook {
    background-image: url(../svg/icon-facebook.svg);
}

.social-list__link_instagram {
    background-image: url(../svg/icon-instagram.svg);
}

.social-list__link_twitter {
    background-image: url(../svg/icon-twitter.svg);
}

/* footer end */

@media (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 45px;
    }

    .container {
        padding-left: 45px;
        padding-right: 45px;
    }

    .header-wrapper {
        background-image: url(../img/bg-header-tablet.jpg);
    }

    .header-page {
        margin-bottom: 0;
    }

    .main-menu__item {
        font-size: 14px;
    }

    .promo {
        padding-left: 0;
    }

    .promo__title {

        font-size: 50px;
    }

    .promo__slogan {
        font-size: 18px;
    }

    .intro__thumb {
        width: 324px;
    }

    .title-section {
        font-size: 26px;
    }

    .section {
        padding: 100px 0;
    }

    .features {
        background-image: url(../img/bg-features-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .features-list__icon_desc {
        width: 21px;
        height: 26px;
    }

    .features-list__icon_allinclusive {
        width: 33px;
        height: 19px;
    }

    .list__icon_zodiac {
        width: 38px;
        height: 13px;
    }

    .goods-list__item {
        width: calc(100% / 2 - 30px);
    }

    .order {
        background-image: url(../img/bg-order-tablet.jpg);
    }

    .container_order {
        flex-direction: column;
        align-items: center;
    }

    .order__desc {
        text-align: center;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .title-section_order {
        margin-bottom: 15px;
    }

    .contacts__map {
        width: 324px;
        height: 325px;
        margin-right: 30px;
    }

    .footer-menu__item {
        font-size: 12px;
    }

    .logo_footer {
        margin-right: 25px;
    }

    .social-list__item {
        margin-right: 23px;
    }

    .social-list__link {
        width: 16px;
        height: 16px;
    }
}/* 1024px */

@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding: 65px 0;
    }

    .title-section {
        font-size: 24px;
    }

    .header-wrapper {
        background-image: url(../img/bg-header-mobile.jpg);
    }

    .main-menu {
        display: none;
    }

    .label-humb {
        display: block;
    }

    .promo {
        padding-top: 140px;
        padding-bottom: 180px;
    }

    .promo__title {
        font-size: 36px;
    }

    .promo__slogan {
        font-size: 16px;
    }

    .intro .container {
        flex-direction: column;
        align-items: center;
    }

    .intro__desc {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .intro__thumb {
        width: auto;
    }

    .features-list {
        flex-wrap: wrap;
    }

    .features-list__item {
        flex: 100%;
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 0;
    }

    .goods-list__item {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .order__form {
        width: 100%;
        padding: 40px 30px;
    }

    .title-section_order {
        font-size: 24px;
    }

    .contacts .container {
        flex-direction: column;
    }

    .contacts__info {
        order: -1;
        margin-bottom: 40px;
    }

    .contacts__map {
        width: 100%;
        margin-right: 0;
    }

    .footer-page .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo_footer {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-menu__item {
        margin-right: 0;
        margin-bottom: 23px;
    }
}
