
@font-face {
    font-family: "Montserrat-Regular";

    src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Medium";

    src: url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";

    src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";

    src: url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat-Regular', sans-serif;
    color: #011C40;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

section {
    padding: 120px 0;
}

.title-section {
    text-align: center;
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}

/* header */

.header-page {
    padding: 35px 0 280px 0;
    background-image: url(../img/bg-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 210px;
}

.main-menu {
    display: flex;
    font-family: "Montserrat-Medium";

}

.main-menu__item {
    margin-right: 30px;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.main-menu__link {
    color: #F9FBFD;
    transition: color 0.3s ease;
}

.main-menu__link:hover {
    color: #0cadfd;
}

.main-title {
    font-size: 54px;
    font-family: "Montserrat-Bold";
    color: #F9FBFD;
    margin-bottom: 30px;
    padding-left: 100px;
    font-weight: 700;
}

.slogan {
    font-size: 20px;
    color: #F9FBFD;
    padding-left: 100px;
}

.humb {
    display: none;
    background-color: transparent;
    background-image: url(../svg/icon-humb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 24px;
    height: 18px;
    padding: 0;
}

.clouse {
    display: none;
    background-color: transparent;
    background-image: url(../svg/icon-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 13px;
    height: 13px;
    padding: 0;
}

/* header end */

/* intro */

.intro .container {
    display: flex;
    align-items: center;
}

.intro__desc {
    flex: 1;
    margin-right: 90px;
    line-height: 1.5;
}

.intro .title-section {
    margin-bottom: 20px;
    text-align: left;
}

.intro__thumb {
    width: 560px;
}

/* intro end */

/* features */

.features {
    background-image: url(../img/bg-features-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.features-list {
    display: flex;
}

.features-list__item {
    flex: 1;
    background-color: #F9FBFD;
    padding: 30px 30px 50px 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.features-list__icon {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
}

.features-list__icon_desc {
    width: 27px;
    height: 32px;
    background-image: url(../svg/icon-feature-desc.svg);
}

.features-list__icon_allinclusive {
    width: 38px;
    height: 21px;
    background-image: url(../svg/icon-feature-allinclusive.svg);
}

.features-list__icon_zodiac {
    width: 42px;
    height: 15px;
    background-image: url(../svg/icon-feature-zodiac.svg);
}

.features-list__title {
    font-size: 18px;
    font-family: "Montserrat-Medium";
}

.features-list__desc {
    font-size: 14px;
    line-height: 1.4;
}

/* features end */

/* goods */

.goods-list {
    display: flex;
    flex-wrap: wrap;
}

.goods-list__item {
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px 15px;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    color: #F9FBFD;
    padding: 75px 25px 35px 25px;
}


.goods-list__title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat-Medium";
    z-index: 5;
}

.goods-list__subtitle {
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat-Medium";
    margin-bottom: 8px;
}

.goods-list__text {
    color: #D8D8D9;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 7px;
}

.goods-list__link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    background-color: #F9FBFD;
    color: #011C40;
    margin-top: auto;
}

.goods-list__preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.goods-list__preview-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.goods-list__item:hover .goods-list__preview {
    opacity: 0;
    z-index: -1;
}

.goods-list__item:hover .goods-list__title {
    bottom: calc(100% - 65px);
    left: 25px;
}

/* goods end */

/* order */

.order {
    padding: 50px 0;
    background-image: url(../img/bg-order-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container_order {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__desc {
    font-size: 18px;
    line-height: 1.5;
    flex: 1;
    margin-right: 140px;
}

.title-section_order {
    font-weight: bold;
    font-size: 40px;
    font-family: "Montserrat-Bold";
}

.order__form {
    width: 400px;
    padding: 50px;
    background-color: #011C40;
    color: #F9FBFD;
}

.order__field {
    display: block;
    margin-bottom: 20px;
}

.order__field_check {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-bottom: 30px;
}

.check {
    margin-right: 7px;
}

.input {
    width: 100%;
    padding: 16px;
    font-size: 14px;
}

.btn-submit {
    background-color: #F9FBFD;
    border: none;
    width: 100%;
    padding: 15px 0 17px 0;
    text-align: center;
    font-weight: 600;
}

/* order end */

/* contacts */

.contacts .container {
    display: flex;
    align-items: center;
}

.contacts__map {
    width: 560px;
    height: 300px;
    margin-right: 100px;
}

.contacts__info {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.contacts__location {
    padding-left: 30px;
    background-image: url(../svg/icon-geo.svg);
    background-repeat: no-repeat;
    background-size: 18px 22px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.contacts__phone {
    padding-left: 30px;
    background-image: url(../svg/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: 18px 16px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #011C40;
}

/* contacts end */

/* footer */

.footer-page {
    padding: 50px 0;
    background-color: #011C40;
}

.footer-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    align-items: center;
    font-family: "Montserrat-Medium";
}

.logo_footer {
    margin-right: 40px;
}

.footer-menu__link {
    color: #F9FBFD;
    transition: color 0.3s ease;
}

.footer-menu__link:hover {
    color: #0cadfd;
}

.footer-menu {
    display: flex;
}

.footer-menu__item {
    margin-right: 30px;
}

.footer-menu__item:last-child {
    margin-right: 0;
}

.social-list {
    display: flex;
}

.social-list__item {
    margin-right: 30px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s ease;
}

.social-list__link:hover {
    opacity: 0.8;
}

.social-list__link_facebook {
    background-image: url(../svg/icon-facebook.svg);
}

.social-list__link_instagram {
    background-image: url(../svg/icon-instagram.svg);
}

.social-list__link_twitter {
    background-image: url(../svg/icon-twitter.svg);
}

/* footer end */